
sem4/iss/include/
sem4/iss/inl/
sem4/iss/docs/Monitoring System - Use cases.doc
sem4/iss/docs/proiect iss.docx

**/*.py[cod]
**/target/*.xml
**/.vs/*
**/x64/*
**/tools/*
**/*.exe
**/.idea/*
**/out/production/*
**/data*.in
**/data*.out
**/inputs/*.txt*
**/output/*.txt*