[submodule "sem5/ss/proiect/extern/thread-pool"]
	path = sem5/ss/proiect/extern/thread-pool
	url = https://github.com/bshoshany/thread-pool.git
[submodule "sem5/ppd/p1/concurs/extern/thread-pool"]
	path = sem5/ppd/p1/concurs/extern/thread-pool
	url = https://github.com/bshoshany/thread-pool.git
