body, html {
    margin: 0;
    height: 100%;
}

#pagina {
    height: 100%;
}

header {
    background-color: red;
    font-size: 30px;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: left;
    align-items: center;
}

footer {
    background-color: pink;
    font-size: 30px;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: left;
    align-items: center;
}

#parinte {
    height: 70%;
}

.lista {
    background-color: yellow;
    height: 5%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.lista li {
    display: inline;
    font-size: 22px;
    padding: 0 100px 0 10px;
    border-right: solid 2px black;
}

.main {
    background-color: green;
    height: 95%;
    font-size: 30px;
    display: flex;
    justify-content: left;
    align-items: center;
}