<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <connectionStrings>
        <add name="ConnectionInfo" connectionString="Data Source=--\SQLEXPRESS;Initial Catalog=Motorshop;Integrated Security=true"/>
    </connectionStrings>
    <appSettings>
        <add key="ParentTableName" value="Categorii_accesorii"/>
        <add key="ParentTableFilterCriteria" value="aID"/>
        
        <add key="ChildTableName" value="Echipamente"/>
        <add key="ChildNumberOfColumns" value="7"/>
        <add key="ChildColumnNames" value="eID,Denumire,Producator,Marime,Pret,Stoc,aID"/>
        <add key="ColumnNamesInsertParameters" value="@eID,@Denumire,@Producator,@Marime,@Pret,@Stoc,@aID"/>
        <add key="InsertQuery" value="INSERT INTO Echipamente(eID, Denumire, Producator, Marime, Pret, Stoc, aID) VALUES (@eID, @Denumire, @Producator, @Marime, @Pret, @Stoc, @aID)"/>
        <add key="UpdateQuery" value="UPDATE Echipamente SET Denumire = @Denumire, Producator = @Producator, Marime = @Marime, Pret = @Pret, Stoc = @Stoc WHERE eID = @eID"/>
        <add key="DeleteQuery" value="DELETE FROM Echipamente WHERE eID = @eID"/>
    </appSettings>
</configuration>