<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <connectionStrings>
        <add name="ConnectionInfo" connectionString="Data Source=--\SQLEXPRESS;Initial Catalog=Motorshop;Integrated Security=true"/>
    </connectionStrings>
    <appSettings>
        <add key="ParentTableName" value="Categorii_moto"/>
        <add key="ParentTableFilterCriteria" value="Tip"/>
        
        <add key="ChildTableName" value="Motociclete"/>
        <add key="ChildNumberOfColumns" value="6"/>
        <add key="ChildColumnNames" value="mID,Denumire,Producator,Pret,Stoc,Tip"/>
        <add key="ColumnNamesInsertParameters" value="@mID,@Denumire,@Producator,@Pret,@Stoc,@Tip"/>
        <add key="InsertQuery" value="INSERT INTO Motociclete(mID, Denumire, Producator, Pret, Stoc, Tip) VALUES (@mID, @Denumire, @Producator, @Pret, @Stoc, @Tip)"/>
        <add key="UpdateQuery" value="UPDATE Motociclete SET Denumire = @Denumire, Producator = @Producator, Pret = @Pret, Stoc = @Stoc WHERE mID = @mID"/>
        <add key="DeleteQuery" value="DELETE FROM Motociclete WHERE mID = @mID"/>
    </appSettings>
</configuration>